In [11]:
import numpy as np
import pandas as pd

pd.set_option('display.max_colwidth', None)

In [12]:
picks = pd.read_parquet('../../Data/2023_2025_pick_trades.parquet')

In [14]:
picks[picks['receiving_owner'] == 'Jose']

,date,receiving_owner,giving_owner,ro_picks_received,ro_picks_gave,go_picks_received,go_picks_gave,season
6,2023-09-06,Jose,Daryl,"[2024_4, 2025_1]",[],[],"[2024_4, 2025_1]",2023
16,2023-09-20,Jose,Bryan,"[2024_2, 2024_4]",[],[],"[2024_2, 2024_4]",2023
20,2023-09-22,Jose,Daryl,[],[2025_1],[2025_1],[],2023
27,2023-10-03,Jose,Luis,[2024_2],[],[],[2024_2],2023
31,2023-10-10,Jose,Luis,[2025_3],[],[],[2025_3],2023
36,2023-10-18,Jose,Weeks,"[2025_2, 2025_2, 2024_2]",[],[],"[2025_2, 2025_2, 2024_2]",2023
46,2023-11-02,Jose,Brigido,"[2024_2, 2025_3]",[],[],"[2024_2, 2025_3]",2023
61,2023-11-21,Jose,Brigido,"[2024_1, 2025_2, 2026_1]",[],[],"[2024_1, 2025_2, 2026_1]",2023
62,2023-11-21,Jose,Luis,[2024_4],[],[],[2024_4],2023
65,2023-11-26,Jose,Bryan,[2025_2],"[2025_2, 2024_4]","[2025_2, 2024_4]",[2025_2],2023
67,2023-11-28,Jose,Luis,[2026_4],[],[],[2026_4],2023
68,2023-11-28,Jose,Weeks,[2026_4],[],[],[2026_4],2023
70,2024-03-04,Jose,Devonte,"[2024_2, 2024_1, 2025_2]",[2024_2],[2024_2],"[2024_2, 2024_1, 2025_2]",2024
74,2024-04-07,Jose,Brigido,[2024_3],"[2024_4, 2024_4]","[2024_4, 2024_4]",[2024_3],2024
82,2024-04-28,Jose,Bryan,[2024_1],"[2024_1, 2024_2]","[2024_1, 2024_2]",[2024_1],2024
91,2024-05-12,Jose,Marvin,[],[2025_2],[2025_2],[],2024
92,2024-05-28,Jose,Devonte,[2025_4],[],[],[2025_4],2024
110,2024-11-19,Jose,Bryan,"[2027_4, 2023_3]",[2025_4],[2025_4],"[2027_4, 2023_3]",2024
117,2025-02-01,Jose,Devonte,[2025_2],[2025_3],[2025_3],[2025_2],2025
119,2025-02-02,Jose,Luis,[2027_1],[2025_2],[2025_2],[2027_1],2025
122,2025-02-09,Jose,Luis,[2025_2],[2025_3],[2025_3],[2025_2],2025
129,2025-04-02,Jose,Gio,[2027_1],[],[],[2027_1],2025
138,2025-04-30,Jose,Gio,"[2025_2, 2025_2]","[2025_3, 2025_2]","[2025_3, 2025_2]","[2025_2, 2025_2]",2025
144,2025-09-23,Jose,Luis,[2026_3],[],[],[2026_3],2025
149,2029-04-29,Jose,Luis,"[2025_3, 2025_1]","[2025_2, 2025_3, 2025_2]","[2025_2, 2025_3, 2025_2]","[2025_3, 2025_1]",2025

In [7]:
picks

     owner                                        final_picks  num_picks
0    Jacky                   [2024_4, 2025_4, 2026_2, 2026_4]          5
1  Devonte  [2024_1, 2024_2, 2025_2, 2025_4, 2026_2, 2026_...          8
2    Daryl  [2024_1, 2024_2, 2024_4, 2025_1, 2025_1, 2025_...         10
3     Luis                           [2026_1, 2026_2, 2026_3]          6
4     Jose  [2024_1, 2024_1, 2024_2, 2024_2, 2024_2, 2024_...         27
5     Lalo  [2024_1, 2024_1, 2024_1, 2024_1, 2024_2, 2024_...         28
6   Marvin  [2024_1, 2024_3, 2024_3, 2024_4, 2025_1, 2025_...         14
7    Weeks  [2024_1, 2024_3, 2025_2, 2025_4, 2025_4, 2026_...         11
8  Brigido   [2024_3, 2025_2, 2025_4, 2026_2, 2026_4, 2026_4]          6
9    Bryan  [2024_3, 2024_4, 2024_4, 2024_4, 2025_2, 2025_...         16